<div *ngFor="let mam of todos" class="partie-item d-flex justify-content-between align-items-center">
    <div>
      <h6>{{mam.title}}</h6>
      <p>
        {{mam.description}}
      </p>
    </div>
    <button type="button" class="btn btn-danger">Danger</button>

  </div>
<!--
  <div *ngFor="let mam of todosD" class="partie-item d-flex justify-content-between align-items-center">
    <div>
      <h6>{{mam.title}}</h6>
      <p>
        {{mam.description}}
      </p>
    </div>
    <button type="button" class="btn btn-danger">Danger</button>
  </div>
-->

  